<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="navbar.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <div class="navbar">
      <div class="logo">
          <img href="#" src="assets/logo.png" alt="Ícone">
      </div>
      <div class="menu">
        <a href="#">Home</a>
        <a href="#">Passeios</a>
          <a href="#">Fotos</a>
          <a href="#">Contatos</a>
      </div>
      <div class="login">
          <a href="#">Login</a>
      </div>
  </div>
</body>
</html>
